@import "tailwindcss";

:root {
    --primary-color: #FF6B35;      /* Naranja quemado */
    --secondary-color: #FFB627;    /* Amarillo cálido */
    --accent-color: #F7C59F;       /* Melocotón claro */
    --background-color: #FFF5E1;   /* Fondo cálido y suave */
    --text-color: #3C1F1F;         /* Marrón oscuro */
    --gradient-main: linear-gradient(135deg, #FF6B35, #FFB627);
    --gradient-accent: linear-gradient(135deg, #F76C5E, #F7C59F);
  }

.auth-page{
    background: var(--background-color) no-repeat center center/cover fixed;
    color: var(--text-color);
    font-family: 'Segoe UI', sans-serif;
}